[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
[submodule "hugo/themes/basics"]
	path = hugo/themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
