.xToc {
    font-size: smaller;
    border-radius: 0.5em;
    border: solid 1px lightgray;
    padding: 0.5em 1em;
    line-height: 1.2;
    width: 30%;
    position: relative;
    left: 33%;
}
.xToc_title {
    font-weight: bolder;
    list-style-type: decimal;
}
.xToc ul {
    list-style-type: decimal;
    padding-left: 15%;
    box-sizing: border-box;
}
.xToc li {
    padding-top: 0 !important;
}
.xToc li > ul {
    padding-left: 1em;
    width: 100%;
}
.xToc a {
    text-align: left;
    font-size: inherit;
    font-weight: normal;
    display: block;
    border-bottom: dashed 1px lightgray;
    text-decoration: none;
}
